<div class="layout">
  <div class="layout-content">
    <div class="inner-content">
      <div class="content-card pt-3">
        <nz-card [nzActions]="[actionGoBack, actionLike, actionEdit, actionDelete]">
          <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="contentDetail.PublishDate | date:'yyyy-MM-dd HH:mm:ss'" [nzAvatar]="avatarTemplate"></nz-card-meta>
          <p class="pt-2">
            {{ contentDetail.Detail }}
          </p>
          <div class="tag-container">
            <nz-space>
              <nz-space-item *ngFor="let tag of contentDetail.Tag">
                <nz-tag nzMode="default">
                  {{ sliceTagName(addHashTag(tag)) }}
                </nz-tag>
              </nz-space-item>
            </nz-space>
          </div>
        </nz-card>
        <ng-template #titleTemplate>
          <span class="content-card-user-name" [routerLink]="['/user', contentDetail.OwnID]">
            {{authorData.Name}}
          </span>
        </ng-template>
        <ng-template #avatarTemplate>
          <!-- <i nz-icon [nzType]="'smile'" [nzTheme]="'outline'" style="width: 32px; height: 32px;"></i> -->
          <div *ngIf="!authorData.Avatar || authorData.Avatar ==''" class="content-card-user-avatar" [routerLink]="['/user', contentDetail.OwnID]">
            <nz-avatar nzText="U" style="background-color: #4b769e;"></nz-avatar>
          </div>
          <div *ngIf="authorData.Avatar && authorData.Avatar !=''" class="content-card-user-avatar" [routerLink]="['/user', contentDetail.OwnID]">
            <nz-avatar [nzSrc]="authorData.Avatar" ></nz-avatar>
          </div>
        </ng-template>
        <ng-template #actionSetting>
          <i nz-icon nzType="setting"></i>
        </ng-template>
        <ng-template #actionLike>
          <div *ngIf="isLiked" [class.like-icon-red]="true" (click)="unlikeContent()">
            <i class="like-icon" nz-icon nzType="like" nzTheme="outline"></i>
            <span class="like-num pl-1">{{contentDetail.LikeNum}}</span>
          </div>
          <div *ngIf="!isLiked" (click)="likeContent()">
            <i class="like-icon" nz-icon nzType="like" nzTheme="outline"></i>
            <span class="like-num pl-1">{{contentDetail.LikeNum}}</span>
          </div>
        </ng-template>
        <ng-template #actionEdit>
          <i nz-icon nzType="edit" nzTheme="outline" (click)="showEditModal()"></i>
        </ng-template>
        <ng-template #actionDelete>
          <i nz-icon nzType="delete" nzTheme="outline" (click)="showDeleteConfirm()"></i>
        </ng-template>
        <ng-template #actionGoBack>
          <i nz-icon nzType="left" nzTheme="outline" (click)="goBack()"></i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i nz-icon nzType="ellipsis"></i>
        </ng-template>
        <nz-modal
          [(nzVisible)]="isEditVisible"
          nzTitle="编辑"
          nzOkText="确认"
          nzCancelText="取消"
          (nzOnCancel)="handleEditCancel()"
          (nzOnOk)="handleEditOk()"
          [nzOkLoading]="isEditOkLoading"
        >
          <form nz-form [formGroup]="form" nzLayout="vertical">
            <nz-form-item>
              <nz-form-control>
                <!-- <nz-textarea-count [nzMaxCharacterCount]="140"> -->
                  <textarea rows="4" formControlName="content" nz-input></textarea>
                <!-- </nz-textarea-count> -->
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-modal>
      </div>
    </div>
  </div>
</div>
