<div class="rootContainer">
  <div class="navContainer">
    <span>Blog</span>
    <nav class="nav">
      <div class="notification">

      </div>
      <div class="user" *ngIf="isLogin()">
        <img>
        <a [routerLink]="" routerLinkActive="active">
          <span>这里是一个用户头像</span>
        </a>
      </div>
      <div class="user" *ngIf="!isLogin()">
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>登录/注册</span></button>
        <nz-modal [(nzVisible)]="isVisible" nzTitle=" " (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <p>TEST</p>
        </nz-modal>
      </div>
    </nav>
  </div>
</div>
