<div class="rootContainer">
  <div class="navContainer">
    <nz-layout *ngIf="showBar()">
      <nz-header>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item>nav 2</li>
        </ul>
        <div class="user" *ngIf="isLogin()">
          <img src="">
          <a (click)="jumpToUser()" routerLinkActive="active">
            <span>这里是一个用户头像</span>
          </a>
        </div>
        <div class="user" *ngIf="!isLogin()">
          <button nz-button (click)="jumpToLogin()" class="login"><span>登录/注册</span></button>
        </div>
      </nz-header>
    </nz-layout>
  </div>
</div>
