// .logo {
//   // width: 120px;
//   // height: 31px;
//   // background: rgba(255, 255, 255, 0.2);
//   // margin: 16px 24px 16px 0;
//   // float: left;
//   // position: relative;
//   // span {
//   //   color: #fff;
//   //   margin: 0 auto;
//   //   position: absolute;
//   //   width: 50px;
//   //   height: 30px;
//   // }
// }
[nz-menu] {
  line-height: 64px;
}

.user {
  float: right;
  width: 150px;
  height: 31px;
  margin-top: -64px;
}
