<div class="rootContainer">
  <div class="navContainer">
    <nz-layout>
      <nz-header>
        <a routerLinkActive="active" routerLink="/"><img src="https://cdn.jsdelivr.net/gh/sherryjw/StaticResource@master/image/logo-03.png" height="50"></a>
        <div class="user" *ngIf="isLogin()">
          <img src="">
          <a (click)="jumpToUser()" routerLinkActive="active">
            <span>这里是一个用户头像</span>
          </a>
          <a (click)="logOut()" routerLinkActive="active" [routerLink]="['/home']">
            <span>退出登录</span>
          </a>
        </div>
        <div class="user" *ngIf="!isLogin() && showBar()">
          <button nz-button (click)="jumpToLogin()" class="login"><span>登录/注册</span></button>
        </div>
      </nz-header>
    </nz-layout>
  </div>
</div>
