<div class="mainContainer">
  <div class="userInfoContainer">
    <div class="avator" *ngIf="userInfoData">
      <img src="{{userInfoData.Info.Avator}}">
    </div>
    <div class="userInfo" *ngIf="userInfoData">
      <p class="name">Name: {{userInfoData.Info.Name}}</p>
      <p class="bio">Bio: {{userInfoData.Info.Bio}}</p>
      <p class="id">ID: {{userInfoData.ID}}</p>
      <p class="email">Email: {{userInfoData.Email}}</p>
      <p class="gender">Gender: {{userInfoData.Info.Gender}}</p>
    </div>
  </div>
  <div class="blogListContainer">
    2
  </div>
</div>
